/* Footer CSS */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .partners img {
  width: 100px;
  height: auto;
  margin: 10px;
}

.footer div {
  margin-top: 20px;
}
/* Réduire toutes les images dans le pied de page */
footer img {
  width: 30px; /* Réduire la taille des images */
  height: auto;
  margin: 5px; /* Ajouter un peu d'espace autour des images */
}
