/* Global styles */  
body {  
  font-family: 'Arial', sans-serif;  
  background-color: #f4f6f9;  
  color: white;  
  margin: 0;  
  padding: 0;  
  min-height: 100vh;  
  display: flex;  
  flex-direction: column;  
}  

/* Header */  
.header {  
  background-color: #004085;  
  color: white;  
  padding: 20px;  
  text-align: center;  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
}  
.logo {  
  font-size: 24px;  
  font-weight: bold;  
}  

.nav a {  
  margin: 0 15px;  
  color: white;  
  text-decoration: none;  
  font-size: 16px;  
}  

.nav a:hover {  
  text-decoration: underline;  
}  

/* Hero section */  
.hero-section {  
  background-size: cover;  
  background-attachment: fixed;  
  padding: 100px 0;  
  text-align: center;  
  position: relative;  
  min-height: calc(100vh - 100px);  
}  

.hero-section h1 {  
  font-size: 48px;  
  margin-bottom: 20px;  
  color: white;  
}  

.hero-section p {  
  font-size: 18px;  
  color: white;  
}  

.cta-button {  
  background-color: #28a745;  
  color: white;  
  padding: 10px 20px;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  font-size: 16px;  
}  

.cta-button:hover {  
  background-color: #218838;  
}  

/* Features section */  
.features-section {  
  display: flex;  
  justify-content: space-around;  
  margin-top: 50px;  
  padding: 0 50px;  
}  

.feature {  
  text-align: center;  
  width: 30%;  
}  

.feature img {  
  width: 100px;  
  margin-bottom: 20px;  
}  

/* Dashboard preview */  
.dashboard-preview {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  margin-top: 50px;  
  padding: 50px;  
}  

.left-preview {  
  max-width: 60%;  
}  

.right-preview {  
  max-width: 30%;  
}  

/* Footer */  
.footer {  
  background-color: #004085;  
  color: white;  
  padding: 20px;  
  text-align: center;  
  position: relative;  
  width: 100%;  
  bottom: 0;  
  margin-top: auto;  
}  

.footer nav {  
  margin-top: 10px;  
}  

.footer a {  
  color: white;  
  margin: 0 10px;  
  text-decoration: none;  
}  

.footer a:hover {  
  text-decoration: underline;  
  color: #ffc107;  
}  

/* Logos partenaires */  
.partners {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  margin-top: 20px;  
}  

.logos {  
  display: flex;  
  justify-content: space-around;  
  width: 100%;  
  margin-top: 10px;  
}  

.logos img {  
  height: 40px;  
  width: 80px;  
  margin: 10px;  
}
footer a {
  color: #fff;
}
.carousel {
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  width: 80%;
  max-width: 1200px;
}

.carousel-wrapper {
  display: flex;
  animation: slide 20s infinite;
  gap: 20px;
}

.carousel-wrapper img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(-100%);
  }
}
