.transaction-list {
    padding: 20px;
  }
  
  .transaction-list ul {
    list-style-type: none;
  }
  
  .transaction-list li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  